@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply border-b mx-3 hover:border-black transition-colors duration-500 cursor-pointer;
  }
  .mobile-nav-link {
    @apply nav-link text-5xl my-4;
  }
}

@layer utilities {
  .article-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
  }
}